<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>TaskManagementServlet</servlet-name>
        <servlet-class>com.example.TaskManagementServlet</servlet-class>
        <init-param>
            <param-name>task-management-config</param-name>
            <param-value>/WEB-INF/task-management.properties</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>TaskManagementServlet</servlet-name>
        <url-pattern>/tasks/*</url-pattern>
    </servlet-mapping>
</web-app>